/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Cambia el color de fondo del cuerpo según lo necesites */
}

form {
    max-width: 600px;
    margin: 0 auto; /* Esto centra el formulario horizontalmente */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px; /* Agrega bordes redondeados al formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al formulario */
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Agrega bordes redondeados a los fieldsets */
}

legend {
    font-weight: bold;
    color: #8B0000; /* Cambia el color de la leyenda a vino */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #8B0000; /* Cambia el color de las etiquetas a vino */
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 22px); /* Ajusta el ancho del input para tener en cuenta el padding y el borde */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8B0000; /* Cambia el color del botón a vino */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos específicos para móviles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="file"] {
        padding: 5px;
        margin-bottom: 5px;
    }

    button[type="submit"] {
        padding: 5px;
    }
}
